<script setup lang="ts">
import {ref} from "vue";

const jumlah = ref<any>([]);

const {data} = await useLazyFetch<any>("https://simumtaz.mazainulhasan1.sch.id/api/recap/user-count", {
  method: "get",
  immediate: true,
})
watch(
    () => data.value,
    (newData) => {
      if (newData) {
        jumlah.value = newData;
        console.log("angkanya ",newData)
      } else {
        console.error("Data not valid");
      }
    },
    {immediate: true}
);
</script>

<template>
  <div class="angka mt-[-80px] h-[100%] w-[100%]">
    <div class="grid place-items-center">
      <div class="text_atas mt-12">MA ZAHA DALAM ANGKA</div>
      <div class="p-6 border-4 border-white rounded-lg w-[80%] mx-auto mt-8 mb-16">
        <div class="grid grid-cols-3 gap-4">
          <div class="p-6 text-white rounded-md flex flex-col justify-center items-center">
            <div class="angka_kotak garis w-[90%]">
              3
            </div>
            <div class="keterangan">
              Jurusan
            </div>
          </div>
          <div class="p-6 text-white rounded-md flex flex-col justify-center items-center">
            <div class="angka_kotak garis w-[90%]">
              {{jumlah.asatidz}}
            </div>
            <div class="keterangan">
              Ustad/Ustadzah
            </div>
          </div>
          <div class="p-6 text-white rounded-md flex flex-col justify-center items-center">
            <div class="angka_kotak garis w-[90%]">
              3
            </div>
            <div class="keterangan">
              Program Peminatan
            </div>
          </div>
          <div class="p-6 text-white rounded-md flex flex-col justify-center items-center">
            <div class="angka_kotak garis w-[90%]">
              19
            </div>
            <div class="keterangan">
              Ekstrakurikuler
            </div>
          </div>
          <div class="p-6 text-white rounded-md flex flex-col justify-center items-center">
            <div class="angka_kotak garis w-[90%]">
              {{jumlah.santri}}
            </div>
            <div class="keterangan">
              Santri
            </div>
          </div>
          <div class="p-6 text-white rounded-md flex flex-col justify-center items-center">
            <div class="angka_kotak garis w-[90%]">
              32
            </div>
            <div class="keterangan">
              Output Lulusan
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
.angka {
  background-image: url('https://res.cloudinary.com/ducdqejmh/image/upload/f_auto,q_auto/v1/media/hkhwdugn2wsa146go0yd');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}

.angka::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.text_atas {
  font-size: 18pt;
  color: yellow;
  font-weight: bold;
  font-family: "Trajan";
}

.angka_kotak {
    font-size: 36pt;
    color: yellow;
    font-weight: bold;
    font-family: "Trajan";
}
.garis {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: -10px;
  position: relative;
}

.garis::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #ffffff;
  bottom: 1px;
}

.garis::after {
  content: "";
  position: absolute;
  display: block;
  width: 33.33%;
  height: 3px;
  background: #ffffff;
  bottom: 0;
  left: calc(33.33%);
}

.keterangan {
  font-size: 16pt;
  color: white;
  font-weight: bold;
  font-family: "Trajan";
}
</style>