<script setup lang="ts">
import Rl from "~/components/layouts/desktop/rl.vue";
import Carousel from "~/components/pages/desktop/home/Carousel/Carousel.vue";
import Program_unggulan from "~/components/pages/desktop/home/program_unggulan.vue";
import Tambahan from "~/components/pages/desktop/home/tambahan.vue";
import Angka from "~/components/pages/desktop/home/angka.vue";

import {ref, watch} from "vue";
import axios from "axios";
const data_blog = ref<any>([]);
const currentPage = ref(1);
const totalPages = ref(0);  // Total jumlah halaman

const fetchData = async (page: number) => {
  try {
    const {data} = await axios("/api/berita", {
      method: "POST",
      data: {
        page,
        jumlah: 10,  // Anda bisa menyesuaikan jumlah data per halaman
      }
    });
    if (data && data.success) {
      data_blog.value = data.data;
      totalPages.value = data.data.totalPages;  // Ambil total halaman dari response
    } else {
      console.error("Data not valid");
    }
  } catch (error) {
    console.error("fetch gagal : ",error);
  }
};

const changePage = (page: number) => {
  currentPage.value = page;
  fetchData(page);
};

onMounted(async() => {
  await fetchData(currentPage.value);
});

watch(
    () => data_blog.value,
    (newData) => {
      console.log("datablog", newData);
    },
    { immediate: true }
);
</script>

<template>
  <Rl>
    <div class="mt-[51.72px] mb-[51.72px]" v-if="data_blog">
      <Carousel :slides="data_blog?.data" :interval="3000" controls indicators></Carousel>
    </div>
    <hr class="my-5" />
    <Program_unggulan/>
    <Tambahan/>
    <Angka/>
  </Rl>
</template>

<style scoped>

</style>