<script setup lang="ts">
import {ref, onMounted} from 'vue';
import "assets/css/pages/berita/slideberitaatas.css";
import dayjs from "dayjs";

dayjs().locale("id-id");

const data_blog = ref<any>([]);

const {data} = await useLazyFetch<any>("/api/berita", {
  method: "post",
  body: {
    page: 1,
    jumlah: 5,
  },
  immediate: true,
})
watch(
    () => data.value,
    (newData) => {
      if (newData && newData.success) {
        data_blog.value = newData.data.data;
      } else {
        console.error("Data not valid");
      }
    },
    {immediate: true}
);
if (data.value && data.value.success) {
  data_blog.value = data.value.data.data;
} else {
  console.error("Data not valid");
}

const animationDuration = ref('20s');

onMounted(() => {
  const longestTextLength = Math.max(...data_blog.value.map(item => item.judul.length));
  animationDuration.value = `${longestTextLength * 220}ms`;
});
</script>

<template>
  <div class="flex w-[1440px] h-[52.66px] text-center bg-[#dadada] items-center">
    <div class="w-[89.93px] bg-transparent"></div>
    <div class="flex-1 flex items-center">
      <div class="text-left w-[168.62px]">
        <div class="flex flex-row items-center text-berita">
          <img
              src="/assets/icons/icon_berita.png"
              alt=""
          />
          &nbsp; BERITA TERKINI
        </div>
      </div>
      <div class="w-[1091.51px] overflow-hidden">
        <div class="flex items-center text-berjalan animate-marquee"  v-if="data_blog" :style="{ animationDuration: animationDuration }">
          <div v-for="berita in data_blog" :key="berita.id" class="flex items-center cursor-pointer" @click="$router.push(`/berita/${berita.slug}`)">
            <div class="bg-[#008f72] rounded px-2 text-white">{{dayjs(berita.createdAt).format("DD/MM/YYYY")}}</div>
            <p class="px-3 judul-berita">{{ berita.judul }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[89.93px] bg-transparent"></div>
  </div>
</template>

<style scoped>

</style>