<script setup lang="ts">

</script>

<template>
  <div class="my-3">
    <div class="text-green-700 garis font-bold text-4xl">Program Unggulan</div>
    <div class="my-3">&nbsp;</div>
    <div class="flex flex-col">
      <div class="flex flex-row">
        <div class="w-1/3 px-2 m-10">
          <div class="judul garis">Tahqiqu Qiroatil Kutub</div>
          <div class="gambar">
            <NuxtImg
                class="gambarnya"
                src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/amxjslid7nfd50am2kde" />
          </div>
          <div class="isi">Program Tahqiqu Qiroatil Kutub adalah kelas unggulan untuk santri yang ingin mendalami khazanah ilmu keislaman, kajian kitab kuning, dan bahasa Arab. Program ini bekerja sama dengan Fakultas Humaniora Jurusan Bahasa dan Sastra Arab UIN Maulana Malik Ibrahim Malang.</div>
          <div class="button">
            <button class="rounded bg-emerald-800">
              Lihat Selengkapnya
            </button>
          </div>
        </div>
        <div class="w-1/3 px-2 m-10">
          <div class="judul garis">Tahfidzul Qur’an </div>
          <div class="gambar">
            <NuxtImg
                class="gambarnya"
                src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/amxjslid7nfd50am2kde" />
          </div>
          <div class="isi">Program untuk santri yang berminat untuk menghafal al-qur'an. Program ini bekerjasama dengan Jam'iyyatul Qurro' wal Huffadz cabang kota Kraksaan.</div>
          <div class="button">
            <button class="rounded bg-emerald-800">
              Lihat Selengkapnya
            </button>
          </div>
        </div>
        <div class="w-1/3 px-2 m-10">
          <div class="judul garis">Prodistik</div>
          <div class="gambar">
            <NuxtImg
                class="gambarnya"
                src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/amxjslid7nfd50am2kde" />
          </div>
          <div class="isi">Program Studi Intensifikasi TIK (Prodistik) resmi menggandeng Departemen Teknologi Pendidikan, Fakultas Ilmu Pendidikan, Universitas Negeri Malang (UM) sebagai mitra dalam pengembangan multimedia, broadcasting, fotografi, sinematografi, AI dan pembuatan aplikasi media pembelajaran.</div>
          <div class="button">
            <button class="rounded bg-emerald-800">
              Lihat Selengkapnya
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.garis {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.garis::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #038805;
  bottom: 1px;
}

.garis::after {
  content: "";
  position: absolute;
  display: block;
  width: 33.33%;
  height: 3px;
  background: #038805;
  bottom: 0;
  left: calc(33.33%);
}

.judul{
  text-align: center;
  font-size: 16pt;
}
.gambar{
  height: 150px;
}

.gambarnya{
  width: 100%;
  height: 150px;
}
.isi{
  height: 200px;
}
.button{
  color: white;
  padding: 10px;
  font-size: 10pt;
}
</style>