<script setup lang="ts">

</script>

<template>
  <div class="my-3">
    <div class="flex flex-col">
      <div class="flex flex-row">
        <div class="w-1/3 px-2 m-10">
          <div class="judul garis">EKSTRAKULIKULER</div>
          <div class="isi">
            <ul>
              <li class="text_list" style="color: #004537">
                PRAMUKA
              </li>
              <li class="text_list">
                KARYA TULIS ILMIAH
              </li>
              <li class="text_list" style="color: #004537">
                KEPUTRIAN
              </li>
              <li class="text_list">
                TARTILUL QUR'AN
              </li>
              <li class="text_list" style="color: #004537">
                TILAWAH
              </li>
              <li class="text_list">
                ENGLISH CLUB
              </li>
              <li class="text_list" style="color: #004537">
                ARABIC CLUB
              </li>
              <li class="text_list">
                KELAS OLIMPIADE
              </li>
            </ul>
          </div>
          <div>
            <button class="button rounded bg-emerald-950">
              Ekstrakulikuler Lainnya
            </button>
          </div>
        </div>
        <div class="w-1/3 px-2 m-10">
          <div class="kotak">
          <div class="fasilitas garisf">FASILITAS PEMBELAJARAN</div>
          <div class="isi text-white">
            <ul>
              <li class="m-3 text_list" style="color: yellow">ABSENSI AROMAZA</li>
              <li class="text_list">LAB MULTIMEDIA</li>
              <li class="m-3 text_list" style="color: yellow">LAB IPA</li>
              <li class="text_list">WIFI</li>
              <li class="m-3 text_list" style="color: yellow">TV DI SETIAP KELAS (Bertahap)</li>
            </ul>
          </div>
          <div>
            <button class="button rounded bg-emerald-950">
              Lihat Selengkapnya
            </button>
          </div>
            <div class="grid place-items-center mt-2">
              <NuxtImg src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/cmcmlttucaofedu3ufwt" class="size-[100px]" />
            </div>
          </div>
          <div class="segitiga">
          </div>
        </div>
        <div class="w-1/3 px-2 m-10">
          <div class="judul garis">PENGUMUMAN</div>
          <div class="isi"></div>
          <div>
            <button class="button rounded bg-emerald-950">
              Lihat Selengkapnya
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss"  scoped>
@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
.kotak {
  background: linear-gradient(to top, #013329, #016c50); /* Dari gelap ke terang */
}

.segitiga {
  position: relative;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #013329, #012f26); /* Sesuaikan dengan kotak */
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
  .garis {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.garis::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #038805;
  bottom: 1px;
}

.garis::after {
  content: "";
  position: absolute;
  display: block;
  width: 33.33%;
  height: 3px;
  background: #038805;
  bottom: 0;
  left: calc(33.33%);
}

.garisf {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.garisf::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #ffffff;
  bottom: 1px;
}

.garisf::after {
  content: "";
  position: absolute;
  display: block;
  width: 33.33%;
  height: 3px;
  background: #ffffff;
  bottom: 0;
  left: calc(33.33%);
}

.judul{
  text-align: center;
  font-size: 16pt;
  color: #004537;
  font-weight: bold;
}

.fasilitas{
  text-align: center;
  font-size: 16pt;
  color: #ffffff;
  font-weight: bold;
}
.text_list{
  font-family: "Trajan";
}
.isi{
  height: 200px;
}
.button{
  color: white;
  padding: 10px;
  font-size: 10pt;
}
</style>