<script setup lang="ts">

</script>

<template>
  <div class="header">
    <div class="flex justify-between atas">
      <img
          src="/assets/img/bahan/mobile/LOGO_ATAS.png"
          alt=""
          class="logo-utama"
      />
      <div class="mt-3">
        <Icon name="openmoji:flag-indonesia" width="0.7em" height="0.7em" />
        <Icon name="mingcute:down-fill" width="0.6em" height="0.6em" style="color: white" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a){
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a){
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.header {
  display: flex;
  width: hitung-lebar(1080);
  height: hitung-tinggi(131.12);
  background: url("/assets/img/bahan/mobile/ATAS.png") no-repeat;
  background-size: cover;
  }

.atas{
  width: 85vw;
  height: hitung-tinggi(131.12);
  margin-left: hitung-lebar(67.45);
  margin-right: hitung-lebar(67.45);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-utama {
  width: hitung-lebar(388.41);
  height: hitung-tinggi(71.66);
  background-size: cover;
  margin: 0;
}

//.bendera{
//  width: hitung-lebar(25);
//  height: hitung-lebar(25);
//  background: blue;
//}
</style>
