<script setup lang="ts">
import 'assets/css/layout/mobile/navbar.css';
import info from "~/utils/data/mobile/modal/info";
import profil from "~/utils/data/mobile/modal/profil";
import {useModalIcoStore} from "~/utils/stores/modal";
import {useBlurStore} from "~/utils/stores/blur";

const modalStore = useModalIcoStore();
const blurStore = useBlurStore();
const router = useRouter();

const klik = (text: string) => {
  switch (text) {
    case "Info":
      blurStore.blurComponent();
      modalStore.showModal(info());
      break;
    case "Profil":
      blurStore.blurComponent();
      modalStore.showModal(profil());
      break;
    default:
      blurStore.blurComponent();
      modalStore.showModal(null);
      break;
  }
}

const beranda = () => {
  router.push("/");
};
</script>

<template>
  <div class="relative w-full h-full">
    <div class="flex flex-row">
      <div class="relative z-10 place-items-center w-[40vw]">
        <div class="grid place-items-center">
          <div class="flex flex-row justify-center">
            <div class="flex flex-col place-items-center h-[12.5vw] items-center justify-center p-2">
              <img alt="" class="menu" src="assets/img/bahan/mobile/PENCARIAN.png" />
              <p class="text-navbar">Pencarian</p>
            </div>
            <div class="flex flex-col place-items-center h-[12.5vw] items-center justify-center p-2" @click="klik('Profil')">
              <img alt="" class="menu" src="assets/img/bahan/mobile/PROFIL_MADRASAH.png" />
              <p class="text-navbar">Profil Madrasah</p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative z-10 place-items-center w-[20vw]">
      </div>
      <div class="flex z-10 place-items-center w-[40vw] justify-center">
        <div class="grid place-items-center">
          <div class="flex flex-row justify-center">
            <div class="flex flex-row justify-center">
              <div class="flex flex-col place-items-center h-[12.5vw] items-center justify-center p-2" @click="klik('Info')">
                <img alt="" class="menu" src="assets/img/bahan/mobile/INFO_MADRASAH.png" />
                <p class="text-navbar">Info Madrasah</p>
              </div>
              <div class="flex flex-col place-items-center h-[12.5vw] items-center justify-center p-2">
                <img alt="" class="menu" src="assets/img/bahan/mobile/MASUK.png" />
                <p class="text-navbar">Masuk</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute z-10 -top-7 left-1/2 transform -translate-x-1/2">
      <div class="beranda-wrapper">
        <div class="beranda" @click="beranda"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100) * 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100) * 1vh;
}

@font-face {
  font-family: 'Nexa';
  src: local("Nexa"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@keyframes putar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.beranda-wrapper {
  width: hitung-lebar(171.87);
  height: hitung-lebar(171.87);
  display: flex;
  justify-content: center;
  align-items: center;
}

.beranda {
  width: 100%;
  height: 100%;
  background: url('assets/img/bahan/mobile/BERANDA.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: putar 8s linear infinite;
  transform-origin: center;
}

.menu {
  width: auto;
  height: hitung-tinggi(45.06);
  margin: 3.5px 3.5vw;
}

.text-navbar {
  font-size: 6.149pt;
  color: white;
  font-family: "Nexa", serif;
}
</style>
