<script setup lang="ts">

</script>

<template>
  <div class="grid place-items-center">
    <div class="my-0 text-center overflow-y: auto">
      <div class="flex items-center">
        <div class="samping"></div>
        <div class="flex-1 items-center">
          <slot/>
        </div>
        <div class="samping"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$lebar-layar-acuan: 1080;

@function hitung-lebar($a){
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}


.samping{
  width: hitung-lebar(67.45);
  background: blue;
}
</style>