<script setup lang="ts">
import Carousel from "~/components/pages/desktop/kepala_madrasah/Carousel/Carousel.vue";

const {data:datakepala, pending, error} = useFetch('/api/kepala_madrasah',{
  lazy: true
});
</script>

<template>
  <div class="mds">
    <div class="grid place-items-center">
      <div class="text-batas text-[7pt] md:text-2xl">Kepala Madrasah Dari Masa ke Masa</div>
    </div>
    <div class="grid place-items-center m-3">
      <div v-if="pending"><h1>Loading Data...</h1></div>
      <div v-else-if="error"><h1>Error</h1></div>
      <div v-else>
        <Carousel :slides="datakepala?.data ?? []" :interval="3000" controls indicators></Carousel>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.bungkus {
  margin-top: hitung-tinggi(26.58);
  margin-bottom: hitung-tinggi(38.78);
  width: hitung-lebar(945.1);
  height: hitung-tinggi(444.32);
}

.text-batas{
  font-family: "Trajan";
  color: #004537;
}

.salam {
  font-size: 8pt;
}

.mds{
  margin-top: hitung-tinggi(42.57);
  margin-bottom: hitung-tinggi(32.89);
}
</style>