<script setup lang="ts">
import Fasilitas from '~/components/pages/fasilitas/index.vue';
import Berita_atas from "~/components/pages/desktop/home/berita_atas.vue";
import Berita_atas_mobile from "~/components/pages/mobile/home/berita_atas.vue";
import Rl from "~/components/layouts/mobile/rl.vue";
import DRl from "~/components/layouts/desktop/rl.vue";
const { isMobile } = useDevice();
</script>

<template>
  <div v-if='!isMobile'>
    <div class="grid place-items-center">
      <Berita_atas/>
      <DRl>
      <Fasilitas/>
      </DRl>
    </div>
  </div>
  <div v-if='isMobile'>
    <div class="grid place-items-center">
      <Berita_atas_mobile/>
      <rl>
        <Fasilitas/>
      </rl>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}
</style>