<script setup lang="ts">

const {data, status} = await useLazyFetch<any>('/api/galeri/prodistik')

</script>

<template>
  <div class="mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold text-center mb-6 textnya">Galeri Foto Prodistik</h2>
    <div class="grid grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" v-if="data">
      <div v-for="(data, index) in data?.data" :key="index" class="relative group overflow-hidden rounded-full shadow-lg cursor-pointer">
        <NuxtLink
            :to="`/galeri/prodistik/${data.name}`"
            class="!outline-none"
        >
          <NuxtImg
              src="https://res.cloudinary.com/ducdqejmh/image/upload/v1738734247/kagp7giwjyxlnde42nql.png"
              class="bg-gray-300 size-[80px] md:size-[300px] object-cover transition-transform duration-300 group-hover:scale-110"
          />
          <div class="absolute inset-0 bg-opacity-0 group-hover:bg-opacity-40 transition duration-300 flex justify-center items-center">
            <span class="text-white text-[8px] md:text-lg font-semibold text-center">{{data.name}}</span>
          </div>
        </NuxtLink>
      </div>
    </div>
  </div>

</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexah';
  src: local("Nexah"), url("/assets/fonts/Nexa-Heavy.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

.textnya {
  text-align: center;
  color: #004537;
  font-family: "Nexar", serif;
  margin-bottom: hitung-tinggi(35);
}
</style>
