<script setup lang="ts">
import { ref } from 'vue';

const isHovered = ref(false);
</script>

<template>
  <div class="mds mb-3">
    <div class="grid place-items-center">
      <div class="text-batas text-[10pt] md:text-2xl">SARANA & PRASARANA</div>
    </div>
    <div class="grid place-items-center mb-16">
      <div
          class="max-w-md mx-auto bg-white rounded-2xl shadow-lg overflow-hidden my-3 transform transition-all duration-300 hover:shadow-2xl hover:scale-105"
          @mouseover="isHovered = true"
          @mouseleave="isHovered = false"
      >
        <!-- Foto Sampul -->
        <div class="relative">
          <img src="https://res.cloudinary.com/dfko3mdsp/image/upload/c_limit,w_600/f_auto/q_auto/v1/website/gs/ye27cwa9fvqjymqhhqf9"
               alt="Foto Pengajar"
               class="w-full h-40 object-cover transition-all duration-300"
               :class="isHovered ? 'brightness-90' : 'brightness-100'">

          <div class="absolute -bottom-10 left-1/2 transform -translate-x-1/2 transition-all duration-300"
               :class="isHovered ? 'scale-110' : 'scale-100'">
            <img src="https://res.cloudinary.com/dfko3mdsp/image/upload/c_limit,w_600/f_auto/q_auto/v1/website/gs/ye27cwa9fvqjymqhhqf9"
                 alt="Profil"
                 class="w-20 h-20 rounded-full border-4 border-white shadow-md">
          </div>
        </div>

        <!-- Informasi -->
        <div class="p-6 pt-12 text-center">
          <h2 class="text-batas text-xl font-semibold text-gray-800 transition-all duration-300"
              :class="isHovered ? 'text-blue-500' : 'text-gray-800'">
            M. SAIFULLAH, S.Pd
          </h2>
          <p class="text-sm text-gray-500">Jabatan: WAKA SARPRAS</p>
          <p class="text-sm text-gray-500">Bidang Studi: EKONOMI</p>

          <div class="mt-4 space-y-2">
            <p class="text-gray-700 flex items-center justify-center space-x-2 transition-all duration-300"
               :class="isHovered ? 'translate-x-1' : 'translate-x-0'">
              <span class="text-blue-500"><Icon name="mdi:phone" /></span>
              <span>-</span>
            </p>
            <p class="text-gray-700 flex items-center justify-center space-x-2 transition-all duration-300"
               :class="isHovered ? 'translate-x-1' : 'translate-x-0'">
              <span class="text-blue-400"><Icon name="mdi:telegram" /></span>
              <span>@Saiful9</span>
            </p>
          </div>
        </div>
      </div>
        <span class="judul garis">Informasi dari SARANA & PRASARANA</span>
      <div class="mb-3">
        <p>Belum ada informasi</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

.judul{
  text-align: center;
  font-size: 16pt;
  color: #004537;
  font-weight: bold;
}
.garis {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.garis::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #038805;
  bottom: 1px;
}

.garis::after {
  content: "";
  position: absolute;
  display: block;
  width: 33.33%;
  height: 3px;
  background: #038805;
  bottom: 0;
  left: calc(33.33%);
}
@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.bungkus {
  margin-top: hitung-tinggi(26.58);
  margin-bottom: hitung-tinggi(38.78);
  width: hitung-lebar(945.1);
  height: hitung-tinggi(444.32);
}

.text-batas{
  font-family: "Trajan";
  color: #004537;
}

.salam {
  font-size: 8pt;
}

.mds{
  margin-top: hitung-tinggi(42.57);
  margin-bottom: hitung-tinggi(32.89);
}
</style>