<script setup lang="ts">
import {ref, onMounted} from 'vue';
import dayjs from "dayjs";

dayjs().locale("id-id");

const data_blog = ref<any>([]);

const {data} = await useLazyFetch<any>("/api/berita", {
  method: "post",
  body: {
    page: 1,
    jumlah: 5,
  },
  immediate: true,
})
watch(
    () => data.value,
    (newData) => {
      if (newData && newData.success) {
        data_blog.value = newData.data.data;
      } else {
        console.error("Data not valid");
      }
    },
    {immediate: true}
);
if (data.value && data.value.success) {
  data_blog.value = data.value.data.data;
} else {
  console.error("Data not valid");
}

const animationDuration = ref('20s');

onMounted(() => {
  const longestTextLength = Math.max(...data_blog.value.map(item => item.judul.length));
  animationDuration.value = `${longestTextLength * 220}ms`;
});
</script>

<template>
  <div class="grid place-items-center">
    <div class="my-0 text-center">
      <div class="flex items-center">
        <div class="samping"></div>
        <div class="flex-1 items-center">
          <div class="flex bungkusbagian text-center items-center">
            <div class="flex items-center">
              <div class="tengah ">
                <div class="flex flex-row items-center text-berita">
                  <img
                      src="/assets/icons/icon_berita.png"
                      alt=""
                      class="lgbrt"
                  />
                  <p class="bt ml-0.5">BERITA TERKINI</p>
                </div>
              </div>
              <div class="flex-1 overflow-hidden raunganimasi justify-center items-center">
                <div class="flex items-center animate-marquee" v-if="data_blog" :style="{ animationDuration: animationDuration }">
                  <div v-for="berita in data_blog" :key="berita.id" class="flex items-center">
                    <div class="bg-green-900 text-[4px] rounded px-2 text-white">{{dayjs(berita.createdAt).format("DD/MM/YYYY")}}</div>
                    <p class="pl-0.5 pr-3 judul-berita">{{ berita.judul }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="samping"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@font-face {
  font-family: "Gothic";
  src: local("Gothic"), url('/assets/fonts/GOTHIC.TTF');
}
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a){
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a){
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.samping{
  width: hitung-lebar(67.45);
  height: hitung-tinggi(44);
  background: #e6e6e6;
}
.bungkusbagian{
  height: hitung-tinggi(44);
  background: #e6e6e6;
}
.tengah{
  width: hitung-lebar(118.8);
}
.raunganimasi{
  width: hitung-lebar(825);
  height: hitung-tinggi(44);
}
.jalan{
  width: hitung-lebar(118.8);
  height: hitung-lebar(14);
}
.lgbrt{
  width: hitung-lebar(14);
  height: hitung-lebar(14);
}

.bagian1{
  width: hitung-lebar(67.45);
  background: blue;
}
.text-berita{
  font-family: "Gothic";
  font-size: 4px;
}

/* Animasi marquee */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* Mengaktifkan animasi marquee */
.animate-marquee {
  animation: marquee 20s linear infinite;
  height: 100%;
}

/* Mengatur font dan ukuran font untuk judul berita */
.judul-berita {
  white-space: nowrap;
  font-family: "Gothic";
  font-size: 4px;
}
</style>