<script setup lang="ts">
import Carousel from "~/components/pages/mobile/home/Carousel/Carousel.vue";
import berita from "~/components/pages/mobile/berita/semua_berita.vue";
import {ref, watch} from "vue";
import axios from "axios";
const data_blog = ref<any>([]);
const currentPage = ref(1);
const totalPages = ref(0);

const fetchData = async (page: number) => {
  try {
    const {data} = await axios("/api/berita", {
      method: "POST",
      data: {
        page,
        jumlah: 10,
      }
    });
    if (data && data.success) {
      data_blog.value = data.data;
      totalPages.value = data.data.totalPages;
    } else {
      console.error("Data not valid");
    }
  } catch (error) {
    console.error("fetch gagal : ",error);
  }
};

const changePage = (page: number) => {
  currentPage.value = page;
  fetchData(page);
};

onMounted(async() => {
  await fetchData(currentPage.value);
});

watch(
    () => data_blog.value,
    (newData) => {
      console.log("datablog", newData);
    },
    { immediate: true }
);
</script>

<template>
  <div class="bungkus" v-if="data_blog">
    <Carousel :slides="data_blog?.data" :interval="3000" controls indicators></Carousel>
  </div>
  <div class="mds">
    <div class="flex items-center text-center justify-center">
      <berita
          :slides="data_blog?.data"
          :currentPage="currentPage"
          :totalPages="totalPages"
          :changePage="changePage"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.bungkus {
  margin-top: hitung-tinggi(26.58);
  margin-bottom: hitung-tinggi(38.78);
  width: hitung-lebar(945.1);
  height: hitung-tinggi(444.32);
}

.text-batas{
  font-size: 4.294pt;
  font-family: "Trajan";
  color: #004537;
}

.mds{
  margin-top: hitung-tinggi(42.57);
  margin-bottom: hitung-tinggi(32.89);
}
</style>