<script setup lang="ts">
import {defineProps} from 'vue';

interface SlideItem {
  judul: string;
  gambar: string;
  slug: string;
  excerpt: string;
  id: string;
}

const props = defineProps({
  slides: {
    type: Array as () => SlideItem[],
    required: true,
    default: () => [],
  },
  currentPage: {
    type: Number,
    required: true
  },
  totalPages: {
    type: Number,
    required: true
  },
  changePage: {
    type: Function,
    required: true
  }
});

</script>

<template>
  <div class="bungkus flex flex-row">
    <div class="kiri flex flex-col overflow-auto">
      <div class="kotak flex flex-col my-1" v-for="item in slides">
        <NuxtLink
            :to="`/berita/${item.slug}`"
            class="no-underline">
          <div class="flex flex-row">
            <img
                :src="item.gambar"
                alt="gambar"
                class="gambar-img"
            />
            <div class="keterangan ml-1 mr-2">
              <p class="judul-item">{{ item.judul }}</p>
              <p v-html="item.excerpt"/>
              <p class="selengkapnya">Lihat Selengkapnya</p>
            </div>
          </div>
        </NuxtLink>
      </div>
      <div class="pagination flex justify-center my-1">
        <button
            v-if="props.currentPage > 1"
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-l judul-item"
            @click="props.changePage(props.currentPage - 1)"
        >
          Kembali
        </button>
        <span class="px-4 py-2 judul-item">{{ props.currentPage }} / {{ props.totalPages }}</span>
        <button
            v-if="props.currentPage < props.totalPages"
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-r judul-item"
            @click="props.changePage(props.currentPage + 1)"
        >
          Lanjut
        </button>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO3-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: local("Nexa"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

.bungkus {
  width: 100%;
  height: hitung-tinggi(1004.43);
}

.gambar {
  width: hitung-lebar(483.88);
  height: hitung-tinggi(233.56);
  background: url('assets/img/bahan/mobile/PROGRAM.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.kotak {
  width: 100%;
  //border: 1px solid black;
}

.kiri {
  flex: 1;
  height: hitung-tinggi(1004.43);
}

.judul-item {
  font-size: 6px;
  text-align: left;
  font-family: "Trajan";
  color: #004537;
}

.gambar-img {
  width: 600px;
  height: hitung-tinggi(200.82);
  border: 1px solid #004537;
  border-radius: 2px;
}

.keterangan {
  font-size: 4pt;
  font-family: "Nexa";
  text-align: justify;
}

.selengkapnya {
  font-size: 4pt;
  color: #004537;
}
</style>