<script setup lang="ts">
import Berita_atas from "~/components/pages/desktop/home/berita_atas.vue";

import {useRoute} from 'vue-router';
import RLD from "~/components/layouts/desktop/rl.vue";
import RLM from "~/components/layouts/mobile/rl.vue";
import Berita_atas_mobile from "~/components/pages/mobile/home/berita_atas.vue";
import Berita from "~/components/pages/berita.vue"

const route = useRoute();
const slug = route.params.slug;

const {data} = await useFetch<any>(`/api/berita/${slug}`);
const berita = data.value?.data;
useServerSeoMeta({
  ogTitle: () => berita?.judul,
  title: () => berita?.judul,
  description: () => berita?.excerpt,
  ogDescription: () => berita?.excerpt,
  ogImage: () => berita?.gambar,
  ogImageUrl: () => berita?.gambar,
  twitterCard: () => 'summary_large_image',
  twitterTitle: () => berita?.judul,
  twitterDescription: () => berita?.excerpt,
  twitterImage: () => berita?.gambar
})
const {isMobile} = useDevice();
</script>

<template>
  <div v-if="data">
    <div v-if='!isMobile'>
      <div class="grid place-items-center">
        <Berita_atas/>
        <RLD>
          <Berita :data="berita"/>
        </RLD>
      </div>
    </div>
    <div v-if='isMobile'>
      <div class="grid place-items-center">
        <Berita_atas_mobile/>
        <RLM>
          <div class="grid place-items-center overflow-auto h-[78vh]">
            <Berita :data="berita"/>
          </div>
        </RLM>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">

</style>