<script setup lang="ts">
import "assets/css/layout/desktop/menubar.css";
import {Icon} from "@iconify/vue";
</script>

<template>
    <div class="flex items-center menu-bar ">
      <div class="w-[89.93px] bg-transparent"></div>
      <div class="flex-1 flex justify-between">
        <nav class="flex flex-row">
          <ul>
            <li style="margin-left: 0">
              <NuxtLink
                  to="/"
                  class="navlink scrollto"
              >
                HOME
              </NuxtLink>
            </li>
            <li class="dropdown">
              <a href="#" class="navlink scrollto flex flex-row">
                <span>BERITA</span>
                <Icon icon="gridicons:dropdown" width="1.2rem" height="1.2rem"/>
              </a>
              <ul class="dropdown_active">
                <li>
                  <NuxtLink
                      to="/berita"
                      class="navlink scrollto"
                  >
                    Warta Madrasah
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/berita/prestasi"
                      class="navlink scrollto"
                  >
                    Prestasi Santri
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/berita/osis"
                      class="navlink scrollto"
                  >
                    Osis
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/berita/alumni"
                      class="navlink scrollto"
                  >
                    Alumni
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/berita/opini"
                      class="navlink scrollto"
                  >
                    Opini
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/berita/kajian_keislaman"
                      class="navlink scrollto"
                  >
                    Kajian Keislaman
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/berita/teacher_of_the_week"
                      class="navlink scrollto"
                  >
                    Teacher Of The Week
                  </NuxtLink>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="navlink scrollto flex flex-row">
                <span>PROFIL MADRASAH</span>
                <Icon icon="gridicons:dropdown" width="1.2rem" height="1.2rem"/>
              </a>
              <ul class="dropdown_active">
                <li>
                  <NuxtLink
                      to="/sambutan"
                      class="navlink scrollto"
                  >
                    Sambutan Kepala Madrasah
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/"
                      class="navlink scrollto"
                  >
                    Profile Asatid
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/"
                      class="navlink scrollto"
                  >
                    Sejarah
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/visi_misi"
                      class="navlink scrollto"
                  >
                    Visi & Misi
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/"
                      class="navlink scrollto"
                  >
                    Logo Madrasah
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/kepala_madrasah"
                      class="navlink scrollto"
                  >
                    Kepala Madrasah Dari Masa Ke Masa
                  </NuxtLink>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="navlink scrollto flex flex-row">
                <span>PROGRAM UNGGULAN</span>
                <Icon icon="gridicons:dropdown" width="1.2rem" height="1.2rem"/>
              </a>
              <ul class="dropdown_active">
                <li>
                  <NuxtLink
                      to="/galeri/prodistik"
                      class="navlink scrollto"
                  >
                    PRODISTIK
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/"
                      class="navlink scrollto"
                  >
                    TAHQIQU QIROATIL KUTUB
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/"
                      class="navlink scrollto"
                  >
                    TAHFIDZUL QUR'AN
                  </NuxtLink>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="navlink scrollto flex flex-row">
                <span>PLATFORM DIGITAL</span>
                <Icon icon="gridicons:dropdown" width="1.2rem" height="1.2rem"/>
              </a>
              <ul class="dropdown_active">
                <li>
                  <NuxtLink
                      to="https://simumtaz.mazainulhasan1.sch.id"
                      class="navlink scrollto"
                  >
                    SIMUMTAZ
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="https://t.me/MAzahaBot"
                      class="navlink scrollto"
                  >
                    AROMAZA
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="https://psychic.mazainulhasan1.sch.id/"
                      class="navlink scrollto"
                  >
                    Psikologi
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="https://psychic.mazainulhasan1.sch.id/"
                      class="navlink scrollto"
                  >
                    GRAMAZAHA
                  </NuxtLink>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="navlink scrollto flex flex-row">
                <span>PELAYANAN ADMINISTRASI</span>
                <Icon icon="gridicons:dropdown" width="1.2rem" height="1.2rem"/>
              </a>
              <ul class="dropdown_active">
                <li>
                  <NuxtLink
                      to="/pelayanan/bendahara"
                      class="navlink scrollto"
                  >
                    Bendahara
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/pelayanan/administrasi_putra"
                      class="navlink scrollto"
                  >
                    Administrasi Putra
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/pelayanan/administrasi_putri"
                      class="navlink scrollto"
                  >
                    Administrasi Putri
                  </NuxtLink>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="navlink scrollto flex flex-row">
                <span>PENGUMUMAN</span>
                <Icon icon="gridicons:dropdown" width="1.2rem" height="1.2rem"/>
              </a>
              <ul class="dropdown_active">
                <li>
                  <NuxtLink
                      to="/kurikulum"
                      class="navlink scrollto"
                  >
                    Kurikulum
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/kesiswaan"
                      class="navlink scrollto"
                  >
                    Kesiswaan
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/humas"
                      class="navlink scrollto"
                  >
                    Humas
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/sarana_prasarana"
                      class="navlink scrollto"
                  >
                    Sarana & Prasarana
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/pengumuman/akademik"
                      class="navlink scrollto"
                  >
                    Akademik
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink
                      to="/pengumuman/non_akademik"
                      class="navlink scrollto"
                  >
                    Non Akademik
                  </NuxtLink>
                </li>
              </ul>
            </li>
            <li>
              <NuxtLink
                  to="/fasilitas"
                  class="navlink scrollto"
              >
                FASILITAS
              </NuxtLink>
            </li>
            <li>
              <NuxtLink
                  to="/galeri/prodistik"
                  class="navlink scrollto"
              >
                Galeri
              </NuxtLink>
            </li>
            <li>
              <NuxtLink
                  to="https://ppsb.vercel.app/"
                  target="_blank"
                  class="navlink scrollto"
              >
                PSB
              </NuxtLink>
            </li>
          </ul>
        </nav>
        <nav class="flex flex-row">
          <ul>
            <li>
              <Icon icon="iconoir:language" width="1rem" height="1.2rem"/>
            </li>
          </ul>
        </nav>
      </div>
      <div class="w-[89.93px] bg-transparent"></div>
    </div>
</template>

<style scoped>

</style>