<script setup lang="ts">
import 'assets/css/layout/desktop/navbar.css';
import {Icon} from "@iconify/vue";
import Menu from "~/components/layouts/desktop/menu.vue"
</script>

<template>
  <div class="grid place-items-center">
    <div class="flex flex-col w-[1440px] h-[303.34px] bg-[#008f72]">
      <div class="flex items-center h-[81.01px]">
        <div class="w-[89.93px] bg-transparent"></div>
        <div class="flex-1 flex items-center">
          <div class="flex flex-col w-full">
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <form class="max-w-md mx-auto sc">
                  <label for="default-search"
                         class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                  <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                      <Icon icon="majesticons:search-line" style="color: white"/>
                    </div>
                    <input type="search" id="default-search"
                           class="block w-[219px] h-[40px] p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-[#004537] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 src"
                           placeholder="Search Here" required/>
                  </div>
                </form>
              </div>
              <div class="flex items-center justify-between">
                <div class="flex flex-col items-center justify-between m-icon">
                  <Icon icon="ion:home" style="color: white" width="17px" height="15px" class="mb-[6px]"/>
                  HOME
                </div>
                <div class="flex flex-col items-center justify-between m-icon">
                  <Icon icon="file-icons:telegram" style="color: white" width="17px" height="15px" class="mb-[6px]"/>
                  CONTACT US
                </div>
                <div class="flex flex-col items-center justify-between m-icon">
                  <Icon icon="fa:flag" style="color: white" width="17px" height="15px" class="mb-[6px]"/>
                  ABOUT US
                </div>
              </div>
              <div class="flex flex-row items-center justify-between m-sos">
                <img
                    src="/assets/icons/ig.png"
                    alt=""
                    class="ic"
                />
                <img
                    src="/assets/icons/tg.png"
                    alt=""
                    class="ic"
                />
                <img
                    src="/assets/icons/tik.png"
                    alt=""
                    class="ic"
                />
                <img
                    src="/assets/icons/fb.png"
                    alt=""
                    class="ic"
                />
                <img
                    src="/assets/icons/yt.png"
                    alt=""
                    class="ic"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="w-[89.93px] bg-transparent"></div>
      </div>
      <div class="w-[1440px] h-[174.83px] img-navbar">
        <div class="flex flex-col justify-between">
          <img
              src="/assets/img/bahan/desktop/logo_atas.png"
              alt=""
              class="logo-utama"
          />
        </div>
      </div>
      <Menu/>
    </div>
  </div>
</template>

<style scoped>

</style>