<script setup lang="ts">

</script>

<template>
  <div class="grid place-items-center">
    <div class="w-[1440px] text-center">
      <div class="flex items-center">
        <div class="w-[89.93px] bg-transparent"></div>
        <div class="flex-1 items-center">
          <slot/>
        </div>
        <div class="w-[89.93px] bg-transparent"></div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>