<script setup lang="ts">
import {useModalIcoStore, useModalMenuStore} from '~/utils/stores/modal';
import {useBlurStore} from "~/utils/stores/blur";

const modalStore = useModalIcoStore();
const modalmenuStore = useModalMenuStore();
const blurStore = useBlurStore();
const router = useRouter();

const closeModal = () => {
  modalStore.hideModal();
  blurStore.clearBlur();
};

const click = (data: any) => {
  switch (data.onclick.type) {
    case "modal":
      modalStore.hideModal();
      modalmenuStore.showModal(data.nama, data.onclick.component)
      break;
    case "page":
      if (data.onclick.url && data.onclick.url !== "/") {
        if (data.onclick.current) {
          router.push({ path: data.onclick.url });
          closeModal();
        } else {
        window.open(data.onclick.url, '_blank').focus();
        }
      }
      break;
    default:
      alert("Fitur dalam tahap pengembangan")
      // alert(data.nama);
      break;
  }
}
</script>

<template>
  <div v-if="modalStore.isVisible" class="modal-overlay" @click="closeModal">
    <div class="modal-content" @click.stop>
      <div class="flex flex-col isinya m-0">
        <p class="judul text-left m-0">{{ modalStore.modalIsi.title }} &nbsp;&nbsp;&nbsp; &#8250;</p>
        <div class="flex flex-wrap overflow-y-auto">
          <div
              class="flex flex-col items-center w-1/4 h-auto"
              v-for="isi in modalStore.modalIsi.isi"
              :key="isi.nama"
              @click="click(isi)"
          >
            <nuxt-img
                :src="isi.image"
                class="iconnya"
                alt="gambar"
            />
            <p class="textnya">{{ isi.nama }}</p>
          </div>
        </div>
        <img
            src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/mobile/x3ruzaojs7xhd8rwyjqp"
            class="close-button"
            alt="gambar"
            @click="closeModal"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexah';
  src: local("Nexah"), url("/assets/fonts/Nexa-Heavy.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexar';
  src: local("Nexar"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: hitung-lebar(50);
}

.modal-content {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.isinya {
  height: hitung-tinggi(1422.44);
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: hitung-lebar(60);
  height: hitung-lebar(60);
  align-self: flex-end;
  margin-top: auto;
}

.judul {
  font-size: 14px;
  font-family: "Nexah";
  color: #004537;
  margin-left: hitung-lebar(30);
  margin-top: hitung-tinggi(30);
  margin-bottom: hitung-tinggi(30);
}

.iconnya {
  height: hitung-lebar(120);
  padding-left: hitung-lebar(20);
  padding-top: hitung-lebar(20);
  padding-right: hitung-lebar(20);
  margin-bottom: hitung-lebar(20);
}

.textnya {
  font-size: 5pt;
  text-align: center;
  color: #004537;
  font-family: "Nexar", serif;
  margin-bottom: hitung-tinggi(35);
}
</style>