<script setup lang="ts">
import {useModalIcoStore, useModalMenuStore} from '~/utils/stores/modal';
import profil from "~/utils/data/mobile/modal/profil";
import Carousel from "~/components/pages/mobile/home/modal/Carousel/Carousel.vue";

const modalStore = useModalIcoStore();

const modalMenuStore = useModalMenuStore();

const closeModal = () => {
  modalMenuStore.hideModal();
  modalStore.showModal(profil());
};
const {data, pending, error} = useFetch('/api/kepala_madrasah',{
  lazy: true
});
</script>

<template>
  <div class="bungkus">
    <div v-if="pending"><h1>Loading Data...</h1></div>
    <div v-else-if="error"><h1>Error</h1></div>
    <div v-else>
      <Carousel :slides="data?.data ?? []" :interval="3000" controls indicators></Carousel>
    </div>
  </div>
  <img
      src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/mobile/x3ruzaojs7xhd8rwyjqp"
      class="close-button"
      alt="gambar"
      @click="closeModal"
  />
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexar';
  src: local("Nexar"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: hitung-lebar(60);
  height: hitung-lebar(60);
  align-self: flex-end;
  margin-top: auto;
}

.bungkus {
  margin-bottom: hitung-tinggi(38.78);
  width: auto;
  height: auto;
}
</style>