<script setup lang="ts">
import {useModalMenuStore} from '~/utils/stores/modal';
import {useBlurStore} from "~/utils/stores/blur";

const modalStore = useModalMenuStore();
const blurStore = useBlurStore();

const closeModal = () => {
  modalStore.hideModal();
  blurStore.clearBlur();
};

</script>

<template>

  <div v-if="modalStore.isVisible" class="modal-overlay flex flex-col">
    <div class="modal-content" @click.stop>
      <div class="flex flex-col isinya m-0">
        <p class="judul text-left m-0">{{ modalStore.title }}&nbsp;&nbsp;&nbsp; &#8250;</p>
        <component :is="modalStore.isi" />
      </div>
    </div>
    <div class="justify-center" @click="closeModal">
      <div class="beranda-wrapper">
        <div class="beranda"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexah';
  src: local("Nexah"), url("/assets/fonts/Nexa-Heavy.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexar';
  src: local("Nexar"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: hitung-lebar(50);
}

.modal-content {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.isinya{
  height: hitung-tinggi(1422.44);
}

.judul {
  font-size: 14px;
  font-family: "Nexah";
  color: #004537;
  margin-left: hitung-lebar(30);
  margin-top: hitung-tinggi(30);
  margin-bottom: hitung-tinggi(30);
}

.beranda-wrapper {
  width: hitung-lebar(171.87);
  height: hitung-lebar(171.87);
  display: flex;
  justify-content: center;
  align-items: center;
}

.beranda {
  width: 100%;
  height: 100%;
  background: url('assets/img/bahan/mobile/BERANDA.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: putar 6s linear infinite;
  transform-origin: center;
}

@keyframes putar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

</style>