<script setup lang="ts">
import {useModalIcoStore, useModalMenuStore} from '~/utils/stores/modal';
import program from "~/utils/data/mobile/modal/program";
import unggulan from "~/utils/data/mobile/modal/unggulan";
import {useBlurStore} from "~/utils/stores/blur";

const router = useRouter();
console.log(unggulan().isi)

const modalStore = useModalIcoStore();
const blurStore = useBlurStore();
const modalMenuStore = useModalMenuStore();

const closeModal = () => {
  modalMenuStore.hideModal();
  modalStore.showModal(program());
};

const closeAllModal = () => {
  modalMenuStore.hideModal();
  modalMenuStore.hideModal();
  blurStore.clearBlur();
};

const klik = (item:any) =>{
  closeAllModal();
  const type = item.onclick.type;
  const url = item.onclick.url ?? '/';
  if (type === "page" && url !== '/' ) {
    router.push(url);
  }
}
</script>

<template>
  <div class="bungkus items-center justify-center align-items-center text-center overflow-y-auto mt-3">
    <div class="flex flex-wrap overflow-y-auto">
      <div
          class="flex flex-col items-center w-1/3 h-auto"
          v-for="isi in unggulan().isi"
          :key="isi.nama"
          @click="klik(isi)"
      >
        <nuxt-img
            :src="isi.image"
            class="iconnya"
            alt="gambar"
        />
        <p class="textnya">{{ isi.nama }}</p>
      </div>
    </div>
  </div>
  <img
      src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/mobile/x3ruzaojs7xhd8rwyjqp"
      class="close-button"
      alt="gambar"
      @click="closeModal"
  />
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexah';
  src: local("Nexah"), url("/assets/fonts/Nexa-Heavy.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexar';
  src: local("Nexar"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: hitung-lebar(60);
  height: hitung-lebar(60);
  align-self: flex-end;
  margin-top: auto;
}

.bungkus {
  margin-bottom: hitung-tinggi(38.78);
  width: auto;
  height: auto;
}

.judul{
  font-size: 14pt;
  font-family: "Nexah";
  color: #004537;
}

.isi{
  font-size: 10pt;
  font-family: "Nexar";
}
li{
  margin-bottom: 10px;
}
.iconnya {
  height: hitung-lebar(120);
  padding-left: hitung-lebar(20);
  padding-top: hitung-lebar(20);
  padding-right: hitung-lebar(20);
  margin-bottom: hitung-lebar(20);
}
.textnya {
  font-size: 5pt;
  text-align: center;
  color: #004537;
  font-family: "Nexar", serif;
  margin-bottom: hitung-tinggi(35);
}
</style>