<script setup lang="ts">
import {useModalIcoStore, useModalMenuStore} from '~/utils/stores/modal';
import angka from "~/utils/data/mobile/modal/ma_zaha_dalam_angka";
import {ref} from "vue";

const jumlah = ref<any>([]);

const {data} = await useLazyFetch<any>("https://simumtaz.mazainulhasan1.sch.id/api/recap/user-count", {
  method: "get",
  immediate: true,
})
watch(
    () => data.value,
    (newData) => {
      if (newData) {
        jumlah.value = newData;
        console.log("angkanya ",newData)
      } else {
        console.error("Data not valid");
      }
    },
    {immediate: true}
);
const modalStore = useModalIcoStore();

const modalMenuStore = useModalMenuStore();

const closeModal = () => {
  modalMenuStore.hideModal();
  modalStore.showModal(angka());
};
</script>

<template>
  <div class="bungkus items-center justify-center align-items-center text-center overflow-y-auto">
    <div class="grid place-items-center my-8">
    <img
        src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/mobile/DALAM%20ANGKA/fhwjz2pjgtca5vylw5pf"
        class="image-ico"
        alt="img"
        @click="closeModal"
    />
      <p class="angka mt-3">{{jumlah.santri}} Santri</p>
    </div>
  </div>
  <img
      src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/mobile/x3ruzaojs7xhd8rwyjqp"
      class="close-button"
      alt="gambar"
      @click="closeModal"
  />
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexah';
  src: local("Nexah"), url("/assets/fonts/Nexa-Heavy.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexar';
  src: local("Nexar"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: hitung-lebar(60);
  height: hitung-lebar(60);
  align-self: flex-end;
  margin-top: auto;
}
.image-ico {
  background: transparent;
  border: none;
  cursor: pointer;
  width: hitung-lebar(300);
  height: hitung-lebar(300);
}

.bungkus {
  margin-bottom: hitung-tinggi(38.78);
  width: auto;
  height: auto;
}

.judul{
  font-size: 14pt;
  font-family: "Nexah";
  color: #004537;
}

.angka{
  font-size: 14pt;
  font-family: "Trajan";
  color: #004537;
}

.isi{
  font-size: 10pt;
  font-family: "Nexar";
}
li{
  margin-bottom: 10px;
}
</style>