<script setup lang="ts">
import {useModalIcoStore, useModalMenuStore} from '~/utils/stores/modal';
import profil from "~/utils/data/mobile/modal/profil";
import Carousel from "~/components/pages/mobile/home/modal/Carousel/Carousel.vue";

const modalStore = useModalIcoStore();

const modalMenuStore = useModalMenuStore();

const closeModal = () => {
  modalMenuStore.hideModal();
  modalStore.showModal(profil());
};
</script>

<template>
  <div class="bungkus items-center justify-center align-items-center text-center overflow-y-auto">
    <div class="judul">VISI</div>
    <div class="isi">Terbentuknya Insan Religius, Cerdas, Peduli, dan Mandiri</div>
    <hr class="m-2">
    <div class="judul">MISI</div>
    <div class="isi">
      <ul>
        <li>
          1. Menumbuhkan sikap penghayatan dan pengamalan siswa terhadap ajaran agama Islam.
        </li>
        <li>
          2. Melaksanakan pembelajaran secara profesional dan bermakna yang dapat menumbuhkan serta mengembangkan kompetensi siswa.
        </li>
        <li>
          3. Melaksanakan program bimbingan secara efektif dan optimal sesuai dengan potensi yang dimilikinya.
        </li>
        <li>
          4. Menumbuhkan dan mengembangkan pembiasaan dan kemandirian di lingkungan madrasah.
        </li>
        <li>
          5. Melaksanakan pengelolaan madrasah dengan manajemen partisipatif dan melibatkan seluruh warga madrasah.
        </li>
        <li>
          6. Melaksanakan pembelajaran ekstrakurikuler secara efektif sesuai bakat dan minat siswa.
        </li>
        <li>
          7. Menumbuhkan sikap kritis, inovatif, dan bertanggung jawab.
        </li>
      </ul>
    </div>
  </div>
  <img
      src="https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/mobile/x3ruzaojs7xhd8rwyjqp"
      class="close-button"
      alt="gambar"
      @click="closeModal"
  />
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexah';
  src: local("Nexah"), url("/assets/fonts/Nexa-Heavy.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexar';
  src: local("Nexar"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: hitung-lebar(60);
  height: hitung-lebar(60);
  align-self: flex-end;
  margin-top: auto;
}

.bungkus {
  margin-bottom: hitung-tinggi(38.78);
  width: auto;
  height: auto;
}

.judul{
  font-size: 14pt;
  font-family: "Nexah";
  color: #004537;
}

.isi{
  font-size: 10pt;
  font-family: "Nexar";
}
li{
  margin-bottom: 10px;
}
</style>