<script setup lang="ts">
import { ref } from "vue";
import { useRoute } from "#vue-router";

const route = useRoute();
const tahun = decodeURIComponent(route.params.tahunnya as string);
const { data, status } = await useLazyFetch<any>(`/api/galeri/tahun/${tahun}`);

const showModal = ref(false);
const selectedImage = ref<string | undefined>(undefined);

const openModal = (imageUrl: string) => {
  selectedImage.value = imageUrl;
  showModal.value = true;
};

const closeModal = () => {
  showModal.value = false;
};
</script>

<template>
  <div class="mx-auto px-4 py-8">
    <div class="md:text-2xl font-bold text-center mb-6 redaksinya">Galeri Tahun {{tahun}}</div>
    <div class="grid grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" v-if="Array.isArray(data?.data) && data.data.length > 0">
      <div v-for="(item, index) in data?.data" :key="index" class="relative group overflow-hidden rounded-full shadow-lg cursor-pointer" @click="openModal(item.link)">
        <NuxtImg :src="item.link" class="w-full h-20 md:h-60 object-cover transition-transform duration-300 group-hover:scale-110" />
      </div>
    </div>
    <div v-else class="relative flex justify-center items-center">
      <p class="text-sm md:text-2xl">Belum ada foto di tahun {{tahun}}</p>
    </div>
  </div>

  <!-- Modal -->
  <div v-if="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50" @click.self="closeModal">
    <div class="relative max-w-3xl w-full p-4">
      <NuxtImg :src="selectedImage" class="w-full h-auto max-h-screen object-contain rounded-lg" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexah';
  src: local("Nexah"), url("/assets/fonts/Nexa-Heavy.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
.redaksinya {
  font-size: 8pt;
  text-align: center;
  color: #004537;
  font-family: "Nexar", serif;
  margin-bottom: hitung-tinggi(35);
}
</style>
