<script setup lang="ts">
import Modal_Ico from "~/components/pages/mobile/home/modal/ico.vue";
import Modal_Menu from "~/components/pages/mobile/home/modal/menu.vue"
import {useModalIcoStore,useModalMenuStore} from "~/utils/stores/modal";

</script>

<template>
  <Modal_Ico v-if="useModalIcoStore().isVisible" />
  <Modal_Menu v-if="useModalMenuStore().isVisible" />
</template>

<style scoped>

</style>