<script setup lang="ts">
import { ref } from 'vue';

const isHovered = ref(false);
</script>

<template>
  <div class="mds mb-3">
    <div class="grid place-items-center mb-16">
        <span class="judul garis">Pengumuman Akademik</span>
      <div class="mb-3">
        <p>Belum ada Pengumuman</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

.judul{
  text-align: center;
  font-size: 16pt;
  color: #004537;
  font-weight: bold;
}
.garis {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.garis::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #038805;
  bottom: 1px;
}

.garis::after {
  content: "";
  position: absolute;
  display: block;
  width: 33.33%;
  height: 3px;
  background: #038805;
  bottom: 0;
  left: calc(33.33%);
}
@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.bungkus {
  margin-top: hitung-tinggi(26.58);
  margin-bottom: hitung-tinggi(38.78);
  width: hitung-lebar(945.1);
  height: hitung-tinggi(444.32);
}

.text-batas{
  font-family: "Trajan";
  color: #004537;
}

.salam {
  font-size: 8pt;
}

.mds{
  margin-top: hitung-tinggi(42.57);
  margin-bottom: hitung-tinggi(32.89);
}
</style>