<script setup lang="ts">
defineProps<{
  beritas: any
}>();
</script>

<template>
  <div class="mt-5">
    <div class="grid grid-cols-1 gap-6 p-4">
      <div v-for="(item, index) in beritas" :key="index" class="flex border border-gray-300 rounded-lg shadow-md overflow-hidden transition-transform transform hover:scale-105">
        <img :src="item.gambar" alt="Berita" class="w-1/3 h-auto object-cover gambar-foto">
        <div class="flex flex-col justify-between p-4 w-2/3">
          <h2 class="text-4xl font-bold text-gray-800 hover:text-blue-600 transition-colors">{{ item.judul }}</h2>
          <p class="text-gray-600 text-xl mb-4" v-html="item.excerpt"/>
          <a :href="`/berita/${item?.slug}`" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition">Baca Selengkapnya</a>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.gambar-foto{
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}
</style>