<script setup lang="ts">
import { ref, watch } from "vue";
import Rl from "~/components/layouts/desktop/rl.vue";
import Carousel from "~/components/pages/desktop/home/Carousel/Carousel.vue";
import All_berita from "~/components/pages/desktop/berita/all_berita.vue";
import axios from "axios";

const data_blog = ref<any>([]);
const currentPage = ref(1);
const totalPages = ref(0);  // Total jumlah halaman
const props = defineProps<{ kategori: string }>();
const fetchData = async (page: number) => {
  try {
    const {data} = await axios("/api/berita", {
      method: "POST",
      data: {
        kategori: props.kategori,
        page,
        jumlah: 10,  // Anda bisa menyesuaikan jumlah data per halaman
      }
    });
    console.log(data);
    if (data && data.success) {
      data_blog.value = data?.data;
      totalPages.value = data?.data?.totalPages;  // Ambil total halaman dari response
    } else {
      console.error("Data not valid");
    }
  } catch (error) {
    console.error("fetch gagal : ",error);
  }
};

// Fungsi untuk menangani perubahan halaman
const changePage = (page: number) => {
  currentPage.value = page;
  fetchData(page);
};

// Panggil fetchData saat halaman pertama kali dimuat
onMounted(async() => {
  await fetchData(currentPage.value);
});

// Watch untuk menangani perubahan data
watch(
    () => data_blog.value,
    (newData) => {
      console.log("datablog", newData);
    },
    { immediate: true }
);
</script>

<template>
  <Rl>
    <div v-if="Array.isArray(data_blog?.data) && data_blog.data.length > 0">
      <div class="my-[51.72px]" v-if="data_blog">
        <Carousel :slides="data_blog?.data" :interval="3000" controls indicators />
        <All_berita :beritas="data_blog?.data" />
        <div class="pagination flex justify-center mt-4">
          <button
            v-if="currentPage > 1"
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-l"
            @click="changePage(currentPage - 1)"
          >
          Previous
          </button>
          <span class="px-4 py-2">{{
            currentPage
          }} / {{ totalPages }}</span>
          <button
            v-if="currentPage < totalPages"
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-r"
            @click="changePage(currentPage + 1)"
          >
            Next
          </button>
        </div>
      </div>
    </div>
    <div v-else>
      <p class="text-sm md:text-2xl">Kategori {{ kategori }} belum ada data</p>
    </div>
  </Rl>
</template>


<style scoped>

</style>