<script setup lang="ts">
const visi = [
  "Terbentuknya Insan Religius, Cerdas, Peduli, dan Mandiri",
];

const misi = [
    "Menumbuhkan sikap penghayatan dan pengamalan siswa terhadap ajaran agama Islam.",
    "Melaksanakan pembelajaran secara profesional dan bermakna yang dapat menumbuhkan serta mengembangkan kompetensi siswa.",
    "Melaksanakan program bimbingan secara efektif dan optimal sesuai dengan potensi yang dimilikinya.",
    "Menumbuhkan dan mengembangkan pembiasaan dan kemandirian di lingkungan madrasah.",
    "Melaksanakan pengelolaan madrasah dengan manajemen partisipatif dan melibatkan seluruh warga madrasah.",
    "Melaksanakan pembelajaran ekstrakurikuler secara efektif sesuai bakat dan minat siswa.",
    "Menumbuhkan sikap kritis, inovatif, dan bertanggung jawab."
];
</script>

<template>
  <div class="mds">
    <div class="grid place-items-start">
      <div class="p-6 bg-gray-100 rounded-lg shadow-md w-full mx-auto">
        <div class="grid place-items-center">
        <h2 class="text-batas text-[7pt] md:text-2xl">Visi</h2>
        </div>
        <ul class="space-y-3">
          <li v-for="(item, index) in visi" :key="index" class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-lg transition-all hover:shadow-md hover:bg-gray-50">
            <Icon name="heroicons:check-circle" class="text-emerald-500 w-5 h-5" />
            <span class="text-gray-700 font-medium">{{ item }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid place-items-start">
      <div class="p-6 bg-gray-100 rounded-lg shadow-md w-full mx-auto">
        <div class="grid place-items-center">
          <h2 class="text-batas text-[7pt] md:text-2xl">Misi</h2>
        </div>
        <ul class="space-y-3">
          <li v-for="(item, index) in misi" :key="index" class="flex items-center gap-3 p-3 bg-white shadow-sm rounded-lg transition-all hover:shadow-md hover:bg-gray-50">
            <Icon name="heroicons:check-circle" class="text-emerald-500 w-5 h-5" />
            <span class="text-gray-700 font-medium">{{ item }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.bungkus {
  margin-top: hitung-tinggi(26.58);
  margin-bottom: hitung-tinggi(38.78);
  width: hitung-lebar(945.1);
  height: hitung-tinggi(444.32);
}

.text-batas{
  font-family: "Trajan";
  color: #004537;
}

.salam {
  font-size: 8pt;
}

.mds{
  margin-top: hitung-tinggi(42.57);
  margin-bottom: hitung-tinggi(32.89);
}
</style>