<script setup lang="ts">

const testing = ()=>{
  alert("testing")
}
const isi = [
  {
    judul:"Tahqiqu Qiroatil Kutub",
    gambar:"https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/amxjslid7nfd50am2kde",
    keterangan:
        "Program Tahqiqu Qiroatil Kutub adalah kelas unggulan untuk santri yang ingin mendalami khazanah ilmu keislaman, kajian kitab kuning, dan bahasa Arab. Program ini bekerja sama dengan Fakultas Humaniora Jurusan Bahasa dan Sastra Arab UIN Maulana Malik Ibrahim Malang.",
    link:"/"
  },
  {
    judul:"Tahfidzul Qur'an",
    gambar:"https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/amxjslid7nfd50am2kde",
    keterangan:"Program untuk santri yang berminat untuk menghafal al-qur'an. Program ini bekerjasama dengan Jam'iyyatul Qurro' wal Huffadz cabang kota Kraksaan.",
    link:"/"
  },
  {
    judul:"Prodistik",
    gambar:"https://res.cloudinary.com/dky2iwfj8/image/upload/f_auto,q_auto/v1/new-web/img/bahan/amxjslid7nfd50am2kde",
    keterangan:"Program Studi Intensifikasi TIK (Prodistik) resmi menggandeng Departemen Teknologi Pendidikan, Fakultas Ilmu Pendidikan, Universitas Negeri Malang (UM) sebagai mitra dalam pengembangan multimedia, broadcasting, fotografi, sinematografi, AI dan pembuatan aplikasi media pembelajaran.",
    link:"/"
  }
]
</script>

<template>
<div class="bungkus flex flex-row">
  <div class="kiri flex flex-col">
    <div class="gambar"></div>
    <div class="kotak flex flex-col my-1" v-for="(item, index) in isi" :key="index">
      <div class="judul-item">
        {{item.judul}}
      </div>
      <div class="flex flex-row">
        <img
          :src="item.gambar"
          alt="gambar"
          class="gambar-img"
          />
        <div class="keterangan ml-1 mr-2">
          {{item.keterangan}}
<!--          <p class="selengkapnya" @click="testing">Lihat Selengkapnya</p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="kanan"></div>
</div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO3-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: local("Nexa"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

.bungkus{
  width: 100%;
}

.kiri{
  flex: 1;
  height: hitung-tinggi(604.43);
}

.kanan{
  width: hitung-lebar(208.06);
  height: hitung-tinggi(604.43);
  background: url('assets/img/bahan/mobile/LULUSAN.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.gambar{
  width: hitung-lebar(383.88);
  height: hitung-tinggi(133.56);
  background: url('assets/img/bahan/mobile/PROGRAM.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.kotak{
  width: 100%;
  //border: 1px solid black;
}

.judul-item{
  font-size: 4px;
  text-align: left;
  font-family: "Trajan";
  color: #004537;
}

.gambar-img{
  width: hitung-lebar(181.97);
  height: hitung-tinggi(100.82);
  border: 1px solid #004537;
  border-radius: 2px;
}

.keterangan{
  font-size: 3.5pt;
  font-family: "Nexa";
  text-align: justify;
}

.selengkapnya{
  font-size: 3pt;
  color: #004537;
}
</style>