<script setup lang="ts">
import {ico1, ico2} from "~/utils/data/mobile/icon_utama_mobile";
import {useBlurStore} from "~/utils/stores/blur";
import { useRouter} from 'vue-router';
import { useModalIcoStore } from '~/utils/stores/modal';
import program from "~/utils/data/mobile/modal/program";
import extra from "~/utils/data/mobile/modal/extra";
import fasilitas from "~/utils/data/mobile/modal/fasilitas";
import galeri from "~/utils/data/mobile/modal/galeri";
import pelayanan from "~/utils/data/mobile/modal/pelayanan";
import fasilitas_pembelajaran from "~/utils/data/mobile/modal/media_ma_zaha";
import pengumuman from "~/utils/data/mobile/modal/pengumuman";
import platform from "~/utils/data/mobile/modal/platform";
import live from "~/utils/data/mobile/modal/live";
import ma_zaha_dalam_angka from "~/utils/data/mobile/modal/ma_zaha_dalam_angka";
import psb from "~/utils/data/mobile/modal/psb"

const router = useRouter();
const modalStore = useModalIcoStore();

const blurStore = useBlurStore();
const klik = (text: string) => {
  switch (text) {
    case "Lokasi Madrasah" :
      window.open('https://maps.app.goo.gl/V5T24pVcnADyHFPb7', '_blank');
      break;
    case "Program Madrasah":
      blurStore.blurComponent();
      modalStore.showModal(program());
      break;
    case "Platform Digital":
      blurStore.blurComponent();
      modalStore.showModal(platform());
      break;
    case "Pelayanan Administrasi":
      blurStore.blurComponent();
      modalStore.showModal(pelayanan());
      break;
    case "Fasilitas":
      blurStore.blurComponent();
      modalStore.showModal(fasilitas());
      break;
    case "Galeri":
      blurStore.blurComponent();
      modalStore.showModal(galeri());
      break;
    case "Ekstra Kulikuler":
      blurStore.blurComponent();
      modalStore.showModal(extra());
      break;
    case "Media MA ZAHA 1":
      blurStore.blurComponent();
      modalStore.showModal(fasilitas_pembelajaran());
      break;
    case "Pengumuman":
      blurStore.blurComponent();
      modalStore.showModal(pengumuman());
      break;
    case "PSB":
      blurStore.blurComponent();
      modalStore.showModal(psb());
      break;
    case "Live":
      blurStore.blurComponent();
      modalStore.showModal(live());
      break;
    case "MA ZAHA Dalam Angka":
      blurStore.blurComponent();
      modalStore.showModal(ma_zaha_dalam_angka());
      break;
    default:
      blurStore.blurComponent();
      modalStore.showModal(null);
      break;
  }
}
</script>

<template>
  <div class="flex flex-col">
    <div class="flex flex-row atas justify-between mb-2">
      <div
          class="bicon flex flex-col items-center justify-center"
          v-for="icon1 in ico1"
          :key="icon1.id"
          @click="klik(icon1.text)"
      >
        <img
            :src="icon1.src"
            class="iconnya"
            alt="gambar"
        />
        <p class="textnya">{{ icon1.text }}</p>
      </div>
    </div>
    <div class="flex flex-row atas justify-between">
      <div class="bicon flex flex-col items-center justify-center"
           v-for="icon2 in ico2"
           :key="icon2.id"
           @click="klik(icon2.text)"
      >
        <img
            :src="icon2.src"
            class="iconnya"
            alt="gambar"/>
        <p class="textnya">{{ icon2.text }}</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Nexa';
  src: local("Nexa"), url("/assets/fonts/Nexa_Regular.otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.atas {
  width: 100%;
  height: max-content;
}

.bicon {
  height: hitung-lebar(140);
  width: hitung-lebar(140);
  background: #f7f7f7;
  border-radius: 5px;
}

.iconnya {
  height: hitung-lebar(80);
  padding-left: hitung-lebar(20);
  padding-top: hitung-lebar(20);
  padding-right: hitung-lebar(20);
  margin-bottom: hitung-lebar(10);
}

.textnya {
  height: hitung-lebar(55);
  width: hitung-lebar(110);
  font-size: 3.4pt;
  text-align: center;
  color: #004537;
  font-family: "Nexa", serif;
}
</style>