<template>
  <button class="carousel-control left" @click="$emit('prev')">&lsaquo;</button>
  <button class="carousel-control right" @click="$emit('next')">&rsaquo;</button>
</template>

<script>
export default {
  emits: ["prev", "next"],
  name: 'CarbonPreviousFilled',
};
</script>
<style scoped>
.carousel-control {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  display: inline-block;
  position: absolute;
  height: 6em;
  width: 4em;
  top: calc(50% - 25px);
  color: #038139;
  cursor: pointer;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
</style>