<script setup lang="ts">
import { ref, onMounted, onBeforeUnmount } from "vue";
import CarouselItem from "./CarouselItem.vue";
import CarouselControls from "./CarouselControls.vue";
import CarouselIndicators from "./CarouselIndicators.vue";
const props = defineProps({
  slides: {
    type: Array,
    required: true,
    default: () => [],
  },
  controls: {
    type: Boolean,
    default: false,
  },
  indicators: {
    type: Boolean,
    default: false,
  },
  interval: {
    type: Number,
    default: 5000,
  },
});

const currentSlide = ref(0);
const slideInterval = ref<number | null>(null);
const direction = ref("right");

const setCurrentSlide = (index: number) => {
  currentSlide.value = index;
};

const prev = (step = -1) => {
  const index =
      currentSlide.value > 0
          ? currentSlide.value + step
          : props.slides.length - 1;
  setCurrentSlide(index);
  direction.value = "left";
  startSlideTimer();
};

const _next = (step = 1) => {
  const index =
      currentSlide.value < props.slides.length - 1
          ? currentSlide.value + step
          : 0;
  setCurrentSlide(index);
  direction.value = "right";
};

const next = (step = 1) => {
  _next(step);
  startSlideTimer();
};

const startSlideTimer = () => {
  stopSlideTimer();
  slideInterval.value = window.setInterval(() => {
    _next();
  }, props.interval);
};

const stopSlideTimer = () => {
  if (slideInterval.value) {
    clearInterval(slideInterval.value);
  }
};

const switchSlide = (index: number) => {
  const step = index - currentSlide.value;
  if (step > 0) {
    next(step);
  } else {
    prev(step);
  }
};

onMounted(() => {
  startSlideTimer();
});

onBeforeUnmount(() => {
  stopSlideTimer();
});
</script>
<template>
  <div class="carousel">
    <div class="carousel-inner">
      <carousel-indicators
          v-if="indicators && slides.length"
          :total="slides.length"
          :current-index="currentSlide"
          :judul="slides[currentSlide]?.judul || ''"
          @switch="switchSlide($event)"
      ></carousel-indicators>
      <carousel-item
          v-for="(slide, index) in slides"
          :slide="slide.gambar"
          :key="`item-${index}`"
          :current-slide="currentSlide"
          :index="index"
          :direction="direction"
          :URL="`/berita/${slide.slug}`"
          @mouseenter="stopSlideTimer"
          @mouseout="startSlideTimer"
      ></carousel-item>
      <carousel-controls
          v-if="controls"
          @prev="prev"
          @next="next"
      ></carousel-controls>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.carousel {
  display: flex;
  justify-content: center;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 60vw;
  height: 70vh;
}
</style>
