<template>
  <button class="carousel-control left" @click="$emit('prev')">&lsaquo;</button>
  <button class="carousel-control right" @click="$emit('next')">&rsaquo;</button>
</template>

<script>
export default {
  emits: ["prev", "next"],
  name: 'CarbonPreviousFilled',
};
</script>
<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.carousel-control {
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  display: inline-block;
  position: absolute;
  height: hitung-tinggi(90);
  width: hitung-lebar(45);
  top: calc(50% - 25px);
  color: #038139;
  cursor: pointer;
}
.left {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.right {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
</style>