<script setup lang="ts">
import Desktop from "~/layouts/desktop.vue";
import Mobile from "~/layouts/mobile.vue";

const { isMobile } = useDevice();
</script>

<template>
  <div v-if='!isMobile'>
    <Desktop>
      <slot/>
    </Desktop>
  </div>
  <div v-if='isMobile'>
    <Mobile>
      <slot/>
    </Mobile>
  </div>
</template>

<style scoped>

</style>