<script setup lang="ts">
import Navbar from "~/components/layouts/desktop/navbar.vue";
</script>

<template>
  <Navbar/>
  <slot/>
  <div class="flex justify-center">
    <footer class="w-[1440px] bg-[#008f72] text-white py-8">
      <div class="container mx-auto px-4">
        <div class="border-green-700 text-center">
          <p class="text-lg">&copy; {{new Date().getFullYear()}} MA Zainul Hasan 1 Genggong. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</template>

<style scoped>

</style>