<script setup lang="ts">
import Header from "~/components/layouts/mobile/header.vue"
import Navbar from "~/components/layouts/mobile/navbar.vue";
import { useBlurStore } from '~/utils/stores/blur';
import Modal from "~/components/modal/mobile/main_modal.vue";

</script>

<template>
  <div :class="{ 'blur-md': useBlurStore().blur }" class="grid place-items-center h-full w-screen">
    <div class="fixed top-0 header">
      <Header/>
    </div>
    <div class="w-screen flex-direction: column slot overflow-y-auto">
        <slot/>
    </div>
    <div class="navbar w-screen">
      <Navbar/>
    </div>
  </div>
  <Modal/>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.header{
  height: hitung-tinggi(131.12);
  z-index: 1;
}
.slot {
  margin-top: hitung-tinggi(131.12);
  height: hitung-tinggi(1784.52);
}

.navbar {
  background: url("/assets/img/bahan/mobile/BAWAH.png");
  display: inline-block;
  position: fixed;
  background-size: 100%;
  height: hitung-tinggi(120.36);
  width: 100%;
  background-repeat: no-repeat;
  bottom: 0;
}
</style>
