@font-face {
    font-family: "gothic";
    src: url('/assets/fonts/GOTHIC.TTF');
}

.text-berita{
    font-family: "gothic";
    font-style: normal;
    color: #004537;
}

.judul-berita{
    white-space: nowrap;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}