<script setup lang="ts">
type berita = {
  judul: string,
  gambar: String,
  body: string,
}
const props = defineProps({
  data: {
    type: Object,
    required: true,
    default: () => [],
  },
});
</script>

<template>
  <div class="grid place-items-center">
    <h2 class="text-xl font-bold">{{ data.judul }}</h2>
    <img :src="data.gambar" alt="Gambar Berita" class="mt-4" />
    <div class="mt-4 text-justify md:text-xl my-8" v-html="data.body"></div>
  </div>
</template>

<style scoped lang="scss">

</style>