<script setup lang="ts">
</script>

<template>
  <div class="mds">
    <div class="grid place-items-center">
      <div class="text-batas text-[7pt] md:text-2xl">Sambutan Kepala Madrasah</div>
    </div>
    <div class="grid place-items-center">
      <NuxtImg
          class="rounded-full size-[150px] md:size-[300px] m-3"
          src="https://res.cloudinary.com/dfko3mdsp/image/upload/c_limit,w_600/f_auto/q_auto/v1/website/gs/eqduijicemgjj8gqlrhu"
      />
      <div class="text-[8pt] md:text-3xl m-1 md:m-3 font-bold">Assalamu’alaikum Warohmatullahi Wabarokatuh</div>
      <div class="text-[6pt] md:text-xl">Hamidan lillah, tabaaroka wata’ala Wa Musholliyan ala Rosulillah.</div>
      <div class="text-[6pt] md:text-xl">Atas nama pribadi mewakili segenap Pimpinan Madrasah Aliyah serta Dewan Asatid mengucapkan selamat atas hadirnya Website Madrasah Aliyah Zainul Hasan 1 Genggong yang launchingnya pada hari kamis tanggal 22 Mei 2014, bertepatan dengan acara Pisah kenang untuk kelas XII Putri.</div>
      <div class="text-[6pt] md:text-xl">Semoga, dengan hadirnya Website MA. ZaHA 1 Genggong, kita bisa ikut berpartisipasi dalam pengembangan informasi melalui media IT yang sudah berkembang pesat di era ini. Harapan kami, tim website yang sudah terbentuk dapat memberikan warna baru bagi kemaslahatan Madrasah serta mengupdate informasi terbaru bagi pembaca terutama dalam cakupan dunia maya. Website MA. Zainul Hasan 1 Genggong hadir untuk menunjukkan existensi kreatifitas lembaga dalam menunjang kemampuan ber-IT untuk menampilkan berbagai kegiatan yang ada di Madrasah, intra maupun extra, terutama kegiatan-kegiatan unggulan kami agar bisa diterima dengan cepat di masyarakat. Website ini pula, kami niatkan sebagai media dakwah bil qolam yang contentnya akan kami muat dari hasil pemikiran dan ide para santri-santri yang berada di bawah naungan lembaga aliyah. Sekali lagi, kami mengucapkan selamat atas hadirnya Website MA. Zainul Hasan 1 Genggong. Semoga bermanfaat.</div>
      <div class="text-[8pt] md:text-3xl m-1 md:m-3 font-bold">Wassalamu’alaikum, wr.wb.</div>
      <div class="text-[6pt] md:text-xl">Genggong, 22 Mei 2014</div>
      <div class="text-[6pt] md:text-xl">Hormat kami:</div>
      <div class="text-[6pt] md:text-xl">Kepala Madrasah</div>
      <div class="text-[6pt] md:text-xl">&nbsp;</div>
      <div class="text-[6pt] md:text-xl">&nbsp;</div>
      <div class="text-[6pt] md:text-xl">&nbsp;</div>
      <div class="text-[6pt] md:text-xl font-bold underline">Nun AHSAN MALIKI, S.Sy. M.Pd</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$tinggi-layar-acuan: 1920;
$lebar-layar-acuan: 1080;

@font-face {
  font-family: 'Trajan';
  src: local("Trajan"), url("/assets/fonts/TRAJANPRO-BOLD.OTF");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@function hitung-lebar($a) {
  @return (calc($a / $lebar-layar-acuan) * 100)* 1vw;
}

@function hitung-tinggi($a) {
  @return (calc($a / $tinggi-layar-acuan) * 100)* 1vh;
}

.bungkus {
  margin-top: hitung-tinggi(26.58);
  margin-bottom: hitung-tinggi(38.78);
  width: hitung-lebar(945.1);
  height: hitung-tinggi(444.32);
}

.text-batas{
  font-family: "Trajan";
  color: #004537;
}

.salam {
  font-size: 8pt;
}

.mds{
  margin-top: hitung-tinggi(42.57);
  margin-bottom: hitung-tinggi(32.89);
}
</style>