<script setup lang="ts">
const props = defineProps<{
  total: number;
  currentIndex: number;
  judul: string
}>();

const emit = defineEmits<{
  (e: "switch", index: number): void;
}>();
</script>

<template>
  <div class="carousel-indicators">
    <div class="bg-gray-200 bg-opacity-50 rounded-lg w-[80vw]">
      <p class="text-[8px] font-bold">{{ judul }}</p>
    </div>
<!--    <button-->
<!--        class="carousel-indicator-item"-->
<!--        :class="{ active: currentIndex === index }"-->
<!--        v-for="(item, index) in total"-->
<!--        :key="index"-->
<!--        @click="$emit('switch', index)"-->
<!--    ></button>-->
  </div>
</template>

<style scoped>
.carousel-indicators {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 1.5em;
  z-index: 2;
}
.carousel-indicator-item {
  width: 15px;
  height: 15px;
  border: none;
  background: #fff;
  opacity: 0.5;
  margin: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  opacity: 1;
}
</style>