<template>
  <transition :name="transitionEffect">
    <div
        class="carousel-item"
        v-show="currentSlide === index"
        @mouseenter="$emit('mouseenter')"
        @mouseout="$emit('mouseout')"
    >
      <img :src="slide"  alt="image" @click="()=>{
        golink(URL)
      }"/>
    </div>
  </transition>
</template>
<script setup lang="ts">
import { computed, defineProps } from "vue";

const router = useRouter();
interface SlideProps {
  slide: any;
  currentSlide: number;
  index: number;
  direction: "left" | "right";
  URL: string;
}

const props = defineProps<SlideProps>();

const emit = defineEmits<{
  (event: "mouseenter"): void;
  (event: "mouseout"): void;
}>();

const transitionEffect = computed(() =>
    props.direction === "right" ? "slide-out" : "slide-in"
);

const golink = (url: string) => {
  router.push(url);
};
</script>

<style scoped>
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slide-in-enter-active,
.slide-in-leave-active,
.slide-out-enter-active,
.slide-out-leave-active {
  transition: all 1s ease-in-out;
}
.slide-in-enter-from {
  transform: translateX(-100%);
}
.slide-in-leave-to {
  transform: translateX(100%);
}
.slide-out-enter-from {
  transform: translateX(100%);
}
.slide-out-leave-to {
  transform: translateX(-100%);
}
</style>