@font-face {
    font-family: "gothic";
    src: url('/assets/fonts/GOTHICB.TTF');
}

.menu-bar {
    height: 47.5px;
    font-family: "gothic";
    font-size: 12.5px;
    display: flex;
    align-items: center;
    color: #fff;
}

.bahasa {
    height: 47.5px;
    font-family: "gothic";
    font-size: 12.5px;
    display: flex;
    text-align: right;
    color: #fff;
}

.menu-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-bar li {
    position: relative;
    text-align: left;
    margin: 0 10.5px;
}

.menu-bar .dropdown ul {
    display: block;
    position: absolute;
    top: calc(100% + 30px);
    margin: 0;
    padding: 0 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}


.menu-bar .dropdown ul li {
    width: max-content;
    padding: 0.5em;
}

.menu-bar .dropdown ul li:hover {
    /*background: #b10b0b;*/
}

.menu-bar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}

.menu-bar .dropdown ul a i {
    font-size: 12px;
}

.menu-bar .dropdown ul a:hover,
.menu-bar .dropdown ul .active:hover,
.menu-bar .dropdown ul li:hover > a {
    color: #008f72;
}

.menu-bar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}


.menu-bar .dropdown .dropdown ul {
    left: 90%;
}

.menu-bar .dropdown .dropdown:hover > ul {
    left: -100%;
}