@font-face {
    font-family: "gothic";
    src: url('/assets/fonts/GOTHICB.TTF');
}

.img-navbar {
    background-image: url("/assets/img/bahan/desktop/1.jpg");
    width: 1440px;
    height: 174.83px;
}
.src {
    font-family: "gothic";
}
.m-icon {
    font-family: "gothic";
    margin-top: 22.51px;
    margin-bottom: 22.77px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10.5pt;
    color: #fff;
}

.m-sos {
    margin-top: 22.51px;
    margin-bottom: 22.77px;
    margin-left: 15px;
}
.ic{
    margin-right: 2.75px;
    margin-left: 2.75px;
}

.sc {
    margin-top: 22.51px;
    margin-bottom: 22.77px;
}

.logo-utama {
    height: 67.35px;
    width: 367.88px;
    margin-top: 53.74px;
    margin-bottom: 52.34px;
    margin-left: 89.93px;
}

